<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
	<title>Quizit - The quiz</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="css/common.css">
    <!-- JQuery cdn-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/particles.min.js"></script>
</head>
<body>
    <div id="particles-js"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/play">Quizit</a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/home">Dashboard<span class="sr-only">(current)</span></a></li>
                  <li class="active"><a href="#">Take the quiz</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= username %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <!-- End of Navbar -->
<div  id="actual_body">
    <div id="loader"></div>
            <div class="container-fluid" style="padding-top: 200px;">
              <div class="row">
                <div class="col-sm-8 col-md-8 col-md-offset-2">
                        <div id="rules">
                                <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">RULES</h3>
                                        </div>
                                        <div class="panel-body" style="color: black !important;">
                                                <p>1.THERE ARE 9 QUESTIONS IN THE QUIZ</p>
                                                <p>2.NO TIME LIMIT</p>
                                                <p>3.FEEL FREE TO SELECT ANY OPTION</p>
                                                <p>4.ONLY YOUR BEST SCORE WILL TAKEN INTO ACCOUNT FOR THE LEADERBOARD</p>
                                                <p>5.READ THE ABOVE RULES :P</p>
                                                <button class="btn btn-success" id="agree">I AGREE</button>
                                        </div>
                                </div>            
                        </div>
                        <div id="test" style="visibility: hidden;">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title" id="question"></h2>
                                </div>
                                <div class="panel-body">
                                    
                                <div class="list-group" id="options"></div>    
                                </div>
                            </div>
                        </div>
                    <br>
                </div>
              </div>
         </div>
</div>
</body>


<script type="text/javascript">
    particlesJS.load("particles-js",'js/particlesjs-config.json');
   
    $('#agree').click(function(){
        sessionStorage.setItem('score',0);
        render();
        $('#rules').remove();
    });
   
    var $loading = $('#loader').hide();
    $(document)
    .ajaxStart(function () {
        $loading.show();
        $('#test').hide();
    })
    .ajaxStop(function () {
        $loading.hide();
        $('#test').show();
    });

    function render(){
    $('#test').css('visibility','visible');
    $.ajax({
        url:'/get_ques',
        type:'GET',
        success:function(response){
            console.log(response);
            var qno=response.qno+1;
            if(qno<=10){
            $('#question')[0].innerHTML=String(qno-1)+') '+response.questions[0];
            var options='';
            for(var i=0;i<4;i++){
            options+='<a class="list-group-item options" onclick="render()">'+response.options[0][i]+'</a>';}

            $("#options")[0].innerHTML=options;
            }
            else{
                $.ajax({
                    url:'/score_persist',
                    type:'POST',
                    data:{score:sessionStorage.getItem('score')},
                    success:function(response)
                    {
                        $('#question')[0].innerHTML="YAAY!";
                        $("#options")[0].innerHTML='<h1 style="color:black !important;">You Scored:'+sessionStorage.getItem('score')+'</h1><br><h2><p class="bg-success">Congrats on completing the test!</p></h2><br><a class="btn btn-warning" href="/home">Go to DashBoard</a>';
            
                    }
                });
            }
            $('.options').hover(function(){$(this).toggleClass("active")});
            $('.options').click(function(){submit_answer($(this).text())});
        }
    });
    }

    function submit_answer(text){
        $.ajax({
            url:'/check_answer',
            type:'GET',
            data:{answer:text},
            success:function(response){
                if(response.answer == "True")
                {
                    var score=sessionStorage.getItem('score');
                    sessionStorage.setItem('score',Number(score)+1);
                }
                console.log(response.answer);
            }
        });
    }
</script>
</html>